/* задаєм параметри всього тіла документа */
    body {
      align-items: center; /*  контент центрується */
      display: flex; /* теж потрібно для центрування */
      height: 100vh; /* відступ згори */
      background: white; /* білий фон */
      justify-content: center; /* теж потрібно для центрування */
    }

    /* Зовнішнє коло */
    .target {
      position: relative; /* задаєм плаваючу позицію щоб потім можна було встановлювати відступи */
      width: 400px; /* ширина блока */
      height: 400px; /* відступ згори */
      border-radius: 50%; /* зглажуєм крам щоб вийшло коло */
      background: red; /* фон елемента червоний */
      border: 6px dashed black; /* малюємо пунктир на кордоні елемента */
    }

    /* Базові стилі для всіх внутрішніх кілець */
    .ring {
      position: absolute;/* базове вирівнювання відносно попереднього елементу */
      border-radius: 50%;/* робим з квадратного блоку коло */
      border: 1px solid black; /* тонкий чорний контур */
    }

    /* 1 Біле кільце */
    .ring1 {
      width: 320px; height: 320px; /* задаєм розмір кільця */
      top: 40px; left: 40px;/* задаєм відступ збоку і по висоті */
      background: white;/* білий фон */
    }

    /* 2Червоне кільце */
    .ring2 {
      width: 240px; height: 240px;/* поступово зменшуєм відступи щоб кожне наступне коло перекривало попереднє */
      top: 80px; left: 80px;
      background: red;
    }

    /* Біле кільце */
    .ring3 {
      width: 160px; height: 160px;
      top: 120px; left: 120px;
      background: white;
    }

    /* Червоне коло в центрі */
    .ring4 {
      width: 80px; height: 80px;
      top: 160px; left: 160px;
      background: red;
    }